---
# Create Kubernetes namespace
# -----------------------------------------------------------------------------
- name: "Create namespace for Sterling B2Bi"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ si_namespace }}"
  register: cout

# Create Secrets on Kubernetes
# -----------------------------------------------------------------------------
# - name: Create secret content '{{ si_registry_secret }}'
#   no_log: false
#   vars:
#     entitled_auth_str: "cp:{{ entitled_registry_key }}"
#     entitled_auth_b64: "{{ entitled_auth_str | b64encode }}"
#     content:
#       - '{"auths":{"cp.icr.io":{"username":"cp","password":"{{ entitled_registry_key }}",'
#       - '"email":"cp","auth":"{{ entitled_auth_b64 }}"}'
#       - "}"
#       - "}"
#   ansible.builtin.set_fact:
#     new_secret: "{{ content | join('') }}"

- name: Create secret content
  no_log: false
  vars:
    entitled_auth_str: "cp:{{ entitled_registry_key }}"
    entitled_auth_b64: "{{ entitled_auth_str | b64encode }}"
    content:
      auths:
        cp.icr.io:
          username: "cp"
          password: "{{ entitled_registry_key }}"
          email: "cp"
          auth: "{{ entitled_auth_b64 }}"
  ansible.builtin.set_fact:
    new_secret: "{{ content | to_json }}"

- name: "Generate secret '{{ si_registry_secret }}'"
  no_log: false
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: kubernetes.io/dockerconfigjson
      metadata:
        name: "{{ si_registry_secret }}"
        namespace: "{{ si_namespace }}"
      data:
        .dockerconfigjson: "{{ new_secret | b64encode }}"
  register: ibm_registry_secret_cout

- name: "Generate secret '{{ si_system_passphrase_secret }}'"
  no_log: false
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: "{{ si_system_passphrase_secret }}"
        namespace: "{{ si_namespace }}"
      data:
        SYSTEM_PASSPHRASE: "{{ si_system_passphrase | b64encode }}"
  register: si_system_passphrase_secret_cout

- name: "Generate secret '{{ si_liberty_secret }}'"
  no_log: false
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: "{{ si_liberty_secret }}"
        namespace: "{{ si_namespace }}"
      data:
        LIBERTY_KEYSTORE_PASSWORD: "{{ si_libertykeystorepassword | b64encode }}"
  register: si_liberty_secret_cout

- name: "Generate secret '{{ si_itx_rs_secret }}'"
  no_log: false
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: "{{ si_itx_rs_secret }}"
        namespace: "{{ si_namespace }}"
      data:
        ITX_RS_PASSWORD: "passw0rd"
  register: si_itx_rs_secret_cout

- name: "Generate secret '{{ si_itxa_secret }}'"
  no_log: false
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: "{{ si_itxa_secret }}"
        namespace: "{{ si_namespace }}"
      data:
        ITXA_PASSWORD: "passw0rd"
  register: si_itxa_secret_cout
