*.DS_Store*
.env
.vscode
result*.txt
readme.txt

hosts*

*mongodb*

environments/hosts*
playbooks/dev*
playbooks/my*
playbooks/cleanup/dev*
roles/dev*
docs/dev*
temporary
temporary/*
resultado.txt

roles/ibm/cd-unix/dev
roles/ibm/sb2bi/dev
roles/ibm/seas/dev
roles/ibm/ssp/dev
roles/sb2bi_prebuiltdb_db2/files/*

roles/ibm/sb2b/dev-*.yml
roles/ibm/sb2b/edge-routes-*.txt
roles/ibm/sb2b/service-key_*.json
roles/ibm-sb2b-*.tar.gz
roles/ibm/sb2b/runAnsibl*.sh
build/bin/downloads/*.tgz

samples
downloads
my-notes
.env
