#!/bin/sh

source /database/config/{{ db2_user }}/sqllib/db2profile

function db2_verify_and_start {

    if ! db2gcf -s | grep Available >/dev/null; then

        db2_kill
        db2_k=$?

        ipclean -a

        db2start
        db2_start=$?
        
        echo ""
        echo "db2_verify_and_start: db2_kill=$db2_k |db2start=$db2_start "
        if [ "$db2_start" -ne  "0" ]; then
            echo "db2_verify_and_start: ERROR - error detected "
            exit 1
        fi

        echo ""
        echo "db2_verify_and_start: Check if DB2 is Available "
        counter=0
        max_checks=5
        interval=30

        while [ $counter -lt $max_checks ]; do
            if db2gcf -s | grep Available >/dev/null; then
                echo "db2_verify_and_start: DB2 is Avaliable "
                break  # Exit loop if condition is met
            else
                echo "db2_verify_and_start: DB2 is starting. Waiting $interval seconds before next check... "
                sleep $interval
                counter=$((counter + 1))
            fi
        done

        if [ $counter -eq $max_checks ]; then
            echo "db2_verify_and_start: ERROR: DB2 is NOT Avaliable. Please check. "
            exit 2
        fi

    fi

}




function config_settings {

    db2set DB2_PARALLEL_IO=ON
    db2_pi=$?

    db2set DB2_SKIPDELETED=ON;
    db2_sd=$?

    db2set DB2_SKIPINSERTED=ON;
    db2_si=$?

    db2set DB2_USE_ALTERNATE_PAGE_CLEANING=ON;
    db2_uapc=$?

    db2set DB2_EVALUNCOMMITTED=ON;
    db2_eu=$?

    db2set DB2LOCK_TO_RB=STATEMENT;
    db2_lock=$?

    db2set DB2COMM=TCPIP
    db2_comm=$?
    # db2 update dbm cfg using DFT_MON_BUFPOOL ON;
    # db2 update dbm cfg using DFT_MON_LOCK ON;
    # db2 update dbm cfg using DFT_MON_SORT ON;
    # db2 update dbm cfg using DFT_MON_STMT ON;
    # db2 update dbm cfg using DFT_MON_TABLE ON;
    # db2 update dbm cfg using DFT_MON_TIMESTAMP ON;
    # db2 update dbm cfg using DFT_MON_UOW ON;
    # db2 update dbm cfg using MON_HEAP_SZ AUTOMATIC;

    echo "config_settings: $db2_pi | $db2_sd | $db2_si | $db2_uapc | $db2_eu | $db2_lock | $db2_comm " 
    if [ "$db2_pi" -ne 0 ] || [ "$db2_sd" -ne 0 ] || [ "$db2_si" -ne 0 ] || [ "$db2_uapc" -ne 0 ] || [ "$db2_eu" -ne 0 ] || [ "$db2_lock" -ne 0 ] 
    then
        echo "config_settings: ERROR - error detected "
        exit 1
    fi

    if [ "$db2_comm" -ne 0 ]
    then
        echo "config_settings: ERROR - error detected DB2COMM"
        exit 2
    fi
}

function create_itxa_db {


# UPDATE DATABASE CONFIG USING STMT_CONC LITERALS;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SELF_TUNING_MEM ON;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOCKLIST AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING MAXLOCKS AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING PCKCACHESZ AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SHEAPTHRES_SHR AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SORTHEAP AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_IOCLEANERS AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_IOSERVERS AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DFT_PREFETCH_SZ AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING MAXAPPLS AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING APPLHEAPSZ AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING APPL_MEMORY AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DBHEAP AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGFILSIZ 65536;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGPRIMARY 40;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGSECOND 12;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_LOG_SPAN 40;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DFT_DEGREE 1;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGBUFSZ 2152;

cat << EOF > /tmp/create_itxa_db2.sql
CREATE DATABASE {{ db2_dbname }} AUTOMATIC STORAGE YES USING CODESET UTF-8 TERRITORY US COLLATE USING IDENTITY PAGESIZE 32768 DFT_EXTENT_SZ 32;
EOF

    echo ""
    if [ ! -f "/tmp/create_itxa_db2.sql" ]; then
        echo "create_itxa_db: ERROR - Cannot generate create_itxa_db2.sql "
        exit 1
    fi
    
    echo "create_itxa_db: File /tmp/create_itxa_db2.sql created sucessfully "

    db2 -tvf /tmp/create_itxa_db2.sql -z /tmp/create_itxa_db2.sql.log 
    db2_crdb=$?

    echo ""
    echo "create_itxa_db: $db2_crdb"
    if [ $db2_crdb -ne 0 ]; then
        echo "create_itxa_db: ERROR - Failed to run 'db2 -tvf create_itxa_db2.sql' "
        exit 2
    fi

    echo "create_itxa_db: run 'db2 -tvf create_itxa_db2.sql' sucessfully"
}

function apply_settings {

    echo ""

    db2 connect to {{ db2_dbname }}
    db2_ct=$?

    if [ $db2_ct -ne 0 ]; then
        echo "apply_settings: ERROR - Failed to connect to db2"
        exit 1
    fi

    echo "apply_settings: connected to {{ db2_dbname }} sucessfully"

    db2 update db cfg for {{ db2_dbname }} using CATALOGCACHE_SZ 300;
    db2_updb_1=$?

    db2 update db cfg for {{ db2_dbname }} using UTIL_HEAP_SZ AUTOMATIC;
    db2_updb_2=$?

    db2 update db cfg for {{ db2_dbname }} using CHNGPGS_THRESH 80;
    db2_updb_3=$?

    db2 update dbm cfg using svcename 50000;
    db2_updb_4=$?

    echo "apply_settings: db2 update db2_updb_1=$db2_updb_1 | db2_updb_2=$db2_updb_2 | db2_updb_3=$db2_updb_3 | db2_updb_4=$db2_updb_4"
    # if [ "$db2_updb_1" -ne 0 ] || [ "$db2_updb_2" -ne 0 ] || [ "$db2_updb_3" -ne 0 ]
    # then
    #     echo "apply_settings: ERROR - Failed to start to db2"
    #     exit 3
    # fi


    db2 connect reset
    db2_cr=$?

    db2 terminate
    db2_t=$?

    db2 force applications all
    db2_fal=$?

    db2 deactivate db {{ db2_dbname }}
    db2_ddb=$?

    echo "Run db2stop"
    db2stop
    db2_stop=$?

    echo "Run db2start"
    db2start
    db2_start=$?

    echo ""
    echo "apply_settings: db2 restart conreset=$db2_cr | terminate=$db2_t | forceapp=$db2_fal | deactivate=$db2_ddb | db2stop=$db2_stop | db2start=$db2_start "
    if [ "$db2_cr" -ne 0 ] || [ "$db2_t" -ne 0 ] || [ "$db2_fal" -ne 0 ] || [ "$db2_ddb" -ne 0 ] || [ "$db2_stop" -ne 0 ] || [ "$db2_start" -ne 0 ]
    then
        echo "apply_settings: ERROR - Failed to start to db2 "
        exit 3
    fi
    echo "apply_settings: finished sucessfully "
}

########################## Main Part of Shell Script ##########################
echo "Start of script setupdb.sh"
echo ""

echo "Starting db2 - db2_verify_and_start"
db2_verify_and_start
echo ""

echo "Creating Sterling B2Bi Database - create_itxa_db"
create_itxa_db
echo ""

echo "Define Config settings to DB2 - config_settings"
config_settings
echo ""

echo "Applying settings to DB2"
apply_settings
echo ""

echo "SUCCESS" > /database/config/{{ db2_user }}/CREATEDB.OUT
echo "End of script setupdb.sh "
