license:
  accept: true

general:
  serviceAccountName: "itx-rs"
  replicaCount: 1
  env: ""
  # Supported values: "fenced" and "unfenced"
  runMode: "unfenced"
  matchNodeLabel:
    name: ""
    value: ""

image:
  repository: "cp.icr.io/cp/ibm-itx-rs"
  digest: ""
  tag: "{{ compatibility_matrix[itx_rs_version].image_tag }}"
  pullPolicy: IfNotPresent
  secret: "{{ itx_rs_registry_secret }}"

probes:
  liveness:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 30
    timeoutSeconds: 45	
  readiness:
    enabled: true
    initialDelaySeconds: 7
    periodSeconds: 60
    timeoutSeconds: 45	

map:
  fileExtension: "lnx" 
  unloadTimeMinutes: 10
  maxThreads: 50
  syncTimeoutSeconds: 300
  disableCaching: false 
  allAttachments: false  

# Logging settings. Value -1 for days means infinite time.
log:
  includeHostInLogNames: true
  accessLog:
    # Supported levels are "none" and "all". Default is "all".
    level: "all"
    days: -1
  serverLog:
     # Supported levels are "none", "failures", "info" and "all". Default is "info".
     level: "info"
     days: -1
  serviceLog:
     # Supported levels are "none", "failures", "info" and "all". Default is "info".
     level: "all"
     days: -1
     stdErr: true
  execLog:
     level: "all"
     fileCount: 5
     fileSizeKiB: 100
     stdErr: true
  jniLog:
     # Supported levels are "none", "failures", "info" and "all". Default is "none".
     level: "none"
  cmgrLog:
     # Supported levels are "none", "failures", "info" and "all". Default is "none".
     level: "none"

resourceRegistry:
  configFile: ""

redis:
  host: ""
  port: 6379
  timeoutSeconds: 2
  secret: ""
  stem: "itx-rs"
  catalogCacheEnabled: false

resources:
  enabled: true
  requests:
    cpu: {{ itx_rs_cpu_requests }}
    memory: {{ itx_rs_mem_requests }}
  limits:
    cpu: {{ itx_rs_cpu_limits }}
    memory: {{ itx_rs_mem_limits }}
  
persistence:
  fsGroup: "1001"
  data:
    capacity: "{{ itx_rs_storage_capacity_data }}"
    accessMode: ReadWriteOnce
    useDynamicProvisioning: true
    storageClassName: "{{ storage_class_matrix[ itx_rs_storage_class ].rwo }}"
    matchVolumeLabel:
      name: ""
      value: ""
  logs:
    capacity: "{{ itx_rs_storage_capacity_logs }}"
    accessMode: ReadWriteOnce
    useDynamicProvisioning: true
    storageClassName: "{{ storage_class_matrix[ itx_rs_storage_class ].rwo }}"
    matchVolumeLabel:
      name: ""
      value: ""

ssl:
  enabled: false
  serviceServingCertificates: false
  clientAuth: false
  secret: ""

service:
  type: ClusterIP
  port:
    http: 8080
    https: 8443

route:
  enabled: true
  host: ""
  
autoscaling:
  enabled: false
  maxReplicas: 5
  minReplicas: 1
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
