---
# Create Kubernetes namespace
# -----------------------------------------------------------------------------
- name: "Create namespace for SSP Engine"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ ssp_namespace }}"
  register: cout

# Create Secrets on Kubernetes
# -----------------------------------------------------------------------------
- name: "Skip CM Image Secrect"
  ansible.builtin.set_fact:
    ssp_registry_secret: ""
  when: ssp_skip_image_secret

- name: Create secret content
  no_log: false
  vars:
    entitled_auth_str: "cp:{{ entitled_registry_key }}"
    entitled_auth_b64: "{{ entitled_auth_str | b64encode }}"
    content:
      auths:
        cp.icr.io:
          username: "cp"
          password: "{{ entitled_registry_key }}"
          email: "cp"
          auth: "{{ entitled_auth_b64 }}"
  ansible.builtin.set_fact:
    new_secret: "{{ content | to_json }}"
  when: not ssp_cm_skip_image_secret

- name: "Generate secret '{{ ssp_registry_secret }}'"
  no_log: true
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: kubernetes.io/dockerconfigjson
      metadata:
        name: "{{ ssp_registry_secret }}"
        namespace: "{{ ssp_namespace }}"
      data:
        .dockerconfigjson: "{{ new_secret | b64encode }}"
  when: not ssp_skip_image_secret

- name: "Generate SSP secret '{{ ssp_secret }}'"
  no_log: true
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: "{{ ssp_secret }}"
        namespace: "{{ ssp_namespace }}"
      data:
        sysPassphrase: "{{ ssp_sys_passphrase | b64encode }}"
        keyCertStorePassphrase: "{{ ssp_keycert_store_passphrase | b64encode }}"
        keyCertEncryptPassphrase: "{{ ssp_keycert_encrypt_passphrase | b64encode }}"
        customKeyCertPassphrase: "{{ ssp_custom_keycert_passphrase | b64encode }}"
