apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: "ibm-seas-psp"
  labels:
    app: "ibm-seas-psp"
rules:
  - apiGroups:
      - policy
    resourceNames:
      - ibm-seas-psp
    resources:
      - podsecuritypolicies
    verbs:
      - use
