-- *****************************************************************
--
--
--
-- *****************************************************************
-- CODESET UTF-8 is mandatory for B2B
!db2set DB2_SKIPDELETED=ON@
!db2set DB2_SKIPINSERTED=ON@

CREATE DATABASE B2BI AUTOMATIC STORAGE YES USING CODESET UTF-8 TERRITORY DEFAULT COLLATE USING SYSTEM PAGESIZE 32768@

CONNECT TO B2BI@
CREATE BUFFERPOOL B2BI_04KBP IMMEDIATE SIZE AUTOMATIC PAGESIZE 4K@
CREATE BUFFERPOOL B2BI_08KBP IMMEDIATE SIZE AUTOMATIC PAGESIZE 8K@
CREATE BUFFERPOOL B2BI_16KBP IMMEDIATE SIZE AUTOMATIC PAGESIZE 16K@
CONNECT RESET@

CONNECT TO B2BI@
CREATE USER TEMPORARY TABLESPACE SCCUSERTMP PAGESIZE 32K BUFFERPOOL IBMDEFAULTBP@
CREATE REGULAR TABLESPACE TS_REG04_B2BI PAGESIZE 4K  BUFFERPOOL B2BI_04KBP PREFETCHSIZE AUTOMATIC@
CREATE REGULAR TABLESPACE TS_REG08_B2BI PAGESIZE 8K  BUFFERPOOL B2BI_08KBP PREFETCHSIZE AUTOMATIC@
CREATE REGULAR TABLESPACE TS_REG16_B2BI PAGESIZE 16K BUFFERPOOL B2BI_16KBP PREFETCHSIZE AUTOMATIC@
CONNECT RESET@
