---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-scc-role-{{ scc_namespace }}
  namespace: {{ scc_namespace }}
rules:
  - apiGroups: ['route.openshift.io']
    resources: ['routes','routes/custom-host']
    verbs: ['get', 'watch', 'list', 'patch', 'update']
  - apiGroups: ['','batch']
    resources: ['secrets','configmaps','persistentvolumes','persistentvolumeclaims','pods','services','cronjobs','jobs']
    verbs: ['create', 'get', 'list', 'delete', 'patch', 'update']

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-scc-rolebinding-{{ scc_namespace }}
  namespace: {{ scc_namespace }}
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ scc_namespace }}
roleRef:
  kind: Role
  name: ibm-scc-role-{{ scc_namespace }}
  apiGroup: rbac.authorization.k8s.io