replicaCount: 1

image:
  repository: "cp.icr.io/cp/ibm-scc/ibmscc"
  tag: "{{ compatibility_matrix[scc_version].image_tag }}"
  imageSecrets: "{{ scc_registry_secret }}"
  digest:
    enabled: false
    value: ""
  pullPolicy: IfNotPresent

nameOverride: "" 
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

service:
  type: LoadBalancer
  loadBalancerIP: ""

  loadBalancerSourceRanges: []

  sessionAffinity: "ClientIP"
  swingConsole:
    name: "swing-console"
    port: 58080
    protocol: "TCP"
    allowIngressTraffic: true
  webConsole:
    name: "web-console"
    port: 58082
    protocol: "TCP"
    allowIngressTraffic: true
  swingConsoleSecure:
    name: "swing-console-secure"
    port: 58081
    protocol: "TCP"
    allowIngressTraffic: true
  webConsoleSecure:
    name: "web-console-secure"
    port: 58083
    protocol: "TCP"
    allowIngressTraffic: true
  externalIP: ""
  annotations:
    {}
    #service.kubernetes.io/ibm-load-balancer-cloud-provider-ip-type: public
    #service.kubernetes.io/ibm-load-balancer-cloud-provider-name: cm
    #service.kubernetes.io/ibm-load-balancer-cloud-provider-zone: main01

ccArgs:
  appUserUID: "1010"
  ccInterval: "2h"
  devEnvDropTables: "false"
  enableAutoRebalanceServers: "true"
  engineNamePrefix: ""
  productEntitlement: "{{ scc_install }}"

  dbType: "{{ scc_dbvendor }}"
  dbHost: "{{ scc_dbhost }}"
  dbPort: "{{ scc_dbport }}"
  dbUser: "{{ scc_dbuser }}"
  dbName: "{{ scc_dbname }}"
  dbLoc: "none"
  dbInit: "true"
  dbPartition: "false"
  dbDrivers: "{{ scc_dbdrivers }}"
  mssqlGlobal: "{{ scc_mssqlglobal }}"

  autoStopJavaWebAppServer: "true"
  eventRepositoryAuth: "false"

  emailHostname: "{{ scc_emailhostname }}"
  emailPort: "{{ scc_emailport }}"
  emailUser: "{{ scc_emailuser }}"
  emailRespond: "{{ scc_emailrespond }}"
  ccAdminEmailAddress: "{{ scc_ccadmin_emailaddress }}"
  smtpTLSEnabled: "{{ scc_smtp_tlsenabled }}"

  oracleRacOrScan: "{{ scc_oracle_racorscan }}"

  #JMS related details if needed to post events to remote JMS system
  jmsEnable: ""
  jmsType: ""
  jmsHost: ""
  jmsPort: ""
  jmsQueueManager: ""
  jmsChannel: ""
  jmsSubject: ""
  jmsTopic: ""
  jmsEmbedBroker: ""
  jmsDataDirectory: ""
  jmsTimeToLive: ""
  jmsRetries: ""
  jmsRetryWait: ""
  jmsBrokerName: ""

  #Secure parameters
  dbSSL: ""

  # Keystore and truststore configuration
  keyStore: "/app/CC/user_inputs/CCenter.keystore"
  trustStore: "/app/CC/user_inputs/CCenter.truststore"
  keyAlias: "ccalias120"
  adminEmailAddress: "{{ scc_ccadmin_emailaddress }}"

  #Seas Parameters
  packagePath: "../packages"
  seasPrimaryAddress: ""
  seasPrimaryPort: ""
  seasAlternativeAddress: ""
  seasAlternativePort: ""
  seasSecureConnection: "N"
  seasProfileName: "test"
  seasPersistentConnection: "N"
  seasSecureProtocol: ""

#From the given values 70% resources will be allocated to EP and remaining 20% will be allocated to webappserver
resources:
  limits:
    cpu: 3000m
    memory: 8Gi
    ephemeral-storage: "4Gi"
  requests:
    cpu: 1500m
    memory: 4Gi
    ephemeral-storage: "2Gi"

initResources:
  limits:
    cpu: 500m
    memory: 2Gi
  requests:
    cpu: 250m
    memory: 1Gi

extraInitContainers:
  - name: "copy-dbdriver"
    repository: "cp.icr.io/cp/ibm-scc/ibmscc_dbdrivers"
    tag: "{{ compatibility_matrix[scc_version].copy_dbdriver_tag }}"
    imageSecrets: "{{ scc_registry_secret }}"
    pullPolicy: IfNotPresent
    command: "cp /ibm/scc/resoures/dbdrivers/db2/luw/v11.5/v4.32.28/* /app/conf/"
    digest:
      enabled: false
      value: ""
    userInput:
      enabled: false

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: {}
    preferredDuringSchedulingIgnoredDuringExecution: []

  podAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution: []

  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution: []

persistentVolumeCCM:
  enabled: true
  claimName: ""
  #if claim name is not given and enabled is true then next 3 parameters are required
  storageClassName: "{{ storage_class_matrix[scc_storage_class].rwo | default('manual') }}"
  size: "{{ scc_helm_values.persistentVolumeCCM.size | default('2Gi')}}" # 20Gi
  accessMode: "ReadWriteOnce"
  useDynamicProvisioning: true
  selector:
    label: ""
    value: ""

persistentVolumeUserInputs:
  enabled: true
  claimName: ""
  #if claim name is not given and enabled is true then next 3 properties are required
  storageClassName: "{{ storage_class_matrix[scc_storage_class].rwo | default('manual') }}"
  size: "{{ scc_helm_values.persistentVolumeCCM.size | default('2Gi')}}" # 2Gi
  accessMode: "ReadWriteOnce"
  selector:
    label: ""
    value: ""

# Manage Storage permission
storageSecurity:
  # fsGroup -  Used for controlling access to block storage such as Ceph RBD, iSCSI, and some Cloud storage.
  fsGroup: ""
  # supplementalGroups - supplemental Groups IDs are used for controlling access to shared storage like NFS and GlusterFS
  # Replace supplementalGroup Id with NFS User's groupId if the root squash is enabled on NFS server otherwise volume access will fail
  supplementalGroups: [65534]

livenessProbe:
  initialDelaySeconds: 175
  timeoutSeconds: 45
  periodSeconds: 120

readinessProbe:
  initialDelaySeconds: 175
  timeoutSeconds: 15
  periodSeconds: 120

secret:
  secretName: "{{ scc_secret }}"
  certsSecretName: "{{ scc_cert_secret }}"

# for ibm cloud environment
dashboard:
  enabled: {{ scc_dashboard }}

# applicable for openshift environment for accessing UI
route:
  enabled: {{ scc_oc_route }}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

arch: "amd64"

license: true

licenseType: "{{ scc_licensetype }}"

networkPolicy:
  policyTypes:
    - Ingress
    - Egress
  # apply ingress rule. Default allow all ingress traffic
  # ingress:
  #   - {}
  # apply egress rule. Default allow all egress traffic
  egress:
    - {}

# can be used when ingress controller is available
# can be used for rule based access
# TLS related configuration is requierd if passthrough termination is not used
ingress:
  enabled: false
  host: ""
  controller: "nginx"
  annotations: {}
  tls:
    enabled: false
    secretName: ""

defaultPodDisruptionBudget:
  enabled: false
  minAvailable: 1

secComp:
  type: RuntimeDefault
  profile: ""

timeZone: "America/New_York"

# For troubleshooting purpose only
debugScripts: true

# To enable all engine logs to redirect to console of pod 
consoleLogEnabled: true
