apiVersion: v1
kind: Secret
metadata:
  name: ${DB2_NAME}-secret
  namespace: ${DB2_NAME}
data:
  DB2INST1_PASSWORD: ZGIyaW5zdDE=  #db2inst1
type: Opaque

---

apiVersion: v1
kind: Service
metadata:
  name: ${DB2_NAME}-ci
spec:
  type: ClusterIP
  selector:
    app: ${DB2_NAME}
  ports:
    - name: ${DB2_NAME}-http
      protocol: TCP
      port: 50000
      targetPort: 50000
    - name: ${DB2_NAME}-https
      protocol: TCP
      port: 50001
      targetPort: 50001

---

apiVersion: v1
kind: Service
metadata:
  name: ${DB2_NAME}-lb
spec:
  selector:
    app: ${DB2_NAME}
  type: LoadBalancer
  ports:
    - name: ${DB2_NAME}-http
      protocol: TCP
      port: 50000
      targetPort: 50000
    - name: ${DB2_NAME}-https
      protocol: TCP
      port: 50001
      targetPort: 50001

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ${DB2_NAME}
spec:
  selector:
    matchLabels:
      app: ${DB2_NAME}
  serviceName: "${DB2_NAME}"
  replicas: 1
  template:
    metadata:
      labels:
        app: ${DB2_NAME}
    spec:
      serviceAccount: ${DB2_NAME}
      containers:
      - name: ${DB2_NAME}
        securityContext:
          privileged: true
        image: icr.io/db2_community/db2:11.5.5.1
        env:
        - name: DB2INST1_PASSWORD
          valueFrom:
            secretKeyRef: 
              name: ${DB2_NAME}-secret
              key: DB2INST1_PASSWORD
        - name: LICENSE 
          value: accept 
        - name: DB2INSTANCE 
          value: db2inst1       
        ports:
        - containerPort: 50000
          name: ${DB2_NAME}-http
        - containerPort: 50001
          name: ${DB2_NAME}-https
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /database
          name: db2vol
  volumeClaimTemplates:
  - metadata:
      name: db2vol
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 40Gi
      storageClassName: ocs-storagecluster-ceph-rbd