---
- name: Define Facts C:D
  ansible.builtin.set_fact:
    policy_name: "cd-passthru-policy"
    netmap_name: "cd-netmap-01"
    adapter_name: "cd-adapter-01"
    adapter_listen_port: "25000"

- name: Define Facts C:D (XML)
  ansible.builtin.set_fact:
    policy_xml: "{{ lookup('template', 'cd-policy.xml.j2') }}"
    netmap_xml: "{{ lookup('template', 'cd-netmap.xml.j2') }}"
    adapter_xml: "{{ lookup('template', 'cd-adapter.xml.j2') }}"

- name: Create Policy C:D
  ansible.builtin.uri:
    url: https://{{ ssp_cm_url }}/sspcmrest/sspcm/rest/policy/createPolicy
    method: POST
    headers:
      X-Authentication: "{{ session_token }}"
      Content-Type: "application/xml"
    body: "{{ policy_xml }}"
    status_code: 200
    validate_certs: false
    return_content: true
  when:
    - ssp_cfg.cd.policy
    - "policy_name not in get_all_policies.content"
  register: cd_plc_cout

- name: Create Netmap C:D
  ansible.builtin.uri:
    url: https://{{ ssp_cm_url }}/sspcmrest/sspcm/rest/netmap/createNetmap
    method: POST
    headers:
      X-Authentication: "{{ session_token }}"
      Content-Type: "application/xml"
    body: "{{ netmap_xml }}"
    status_code: 200
    validate_certs: false
  when:
    - ssp_cfg.cd.netmap
    - "netmap_name not in get_all_netmaps.content"
  register: cd_np_cout

- name: Create Adapter C:D
  ansible.builtin.uri:
    url: https://{{ ssp_cm_url }}/sspcmrest/sspcm/rest/adapter/createAdapter
    method: POST
    headers:
      X-Authentication: "{{ session_token }}"
      Content-Type: "application/xml"
    body: "{{ adapter_xml }}"
    status_code: 200
    validate_certs: false
  when:
    - ssp_cfg.cd.adapter
    - "adapter_name not in get_all_adapters.content"
  register: cd_adp_cout
