---
# Check for undefined properties that do not have a default
# -----------------------------------------------------------------------------
- name: "Validate required variables"
  ansible.builtin.assert:
    that:
      - cdws_namespace is defined and cdws_namespace != ""
      - entitled_registry_key is defined and entitled_registry_key != ""
    fail_msg: "Required variables are missing: cdws_namespace and entitled_registry_key must be defined"

# 5. Serial ID
# -----------------------------------------------------------------------------
- name: Unique Id for files
  ansible.builtin.set_fact:
    my_serial: "{{ lookup('password', '/dev/null length=8 chars=ascii_lowercase,digits') }}"

# Debug
# -----------------------------------------------------------------------------
- name: Debug
  ansible.builtin.debug:
    msg:
      - "Kubernets Namespace ................. {{ cdws_namespace }}"
      - "my_serial ........................... {{ my_serial }}"
