#!/bin/sh

function config_settings {

db2set DB2_PARALLEL_IO=ON
db2set DB2_SKIPDELETED=ON;
db2set DB2_SKIPINSERTED=ON;
db2set DB2_USE_ALTERNATE_PAGE_CLEANING=ON;
db2set DB2_EVALUNCOMMITTED=ON;
db2set DB2LOCK_TO_RB=STATEMENT;
db2 update dbm cfg using DFT_MON_BUFPOOL ON;
db2 update dbm cfg using DFT_MON_LOCK ON;
db2 update dbm cfg using DFT_MON_SORT ON;
db2 update dbm cfg using DFT_MON_STMT ON;
db2 update dbm cfg using DFT_MON_TABLE ON;
db2 update dbm cfg using DFT_MON_TIMESTAMP ON;
db2 update dbm cfg using DFT_MON_UOW ON;
db2 update dbm cfg using MON_HEAP_SZ AUTOMATIC;

}

function create_b2bi_db {

cat << EOF > /tmp/create_b2bi_db2.sql
CREATE DATABASE {{ db2_dbname }} AUTOMATIC STORAGE YES USING CODESET UTF-8 TERRITORY US COLLATE USING IDENTITY PAGESIZE 4096 DFT_EXTENT_SZ 32;
CONNECT TO {{ db2_dbname }};
UPDATE DATABASE CONFIG USING STMT_CONC LITERALS;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SELF_TUNING_MEM ON;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOCKLIST AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING MAXLOCKS AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING PCKCACHESZ AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SHEAPTHRES_SHR AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SORTHEAP AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_IOCLEANERS AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_IOSERVERS AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DFT_PREFETCH_SZ AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING MAXAPPLS AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING APPLHEAPSZ AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING APPL_MEMORY AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DBHEAP AUTOMATIC;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGFILSIZ 65536;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGPRIMARY 40;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGSECOND 12;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_LOG_SPAN 40;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DFT_DEGREE 1;
UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGBUFSZ 2152;
CREATE BUFFERPOOL REG4KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 4K;
CREATE BUFFERPOOL REG8KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 8K;
CREATE BUFFERPOOL REG16KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 16K;
CREATE BUFFERPOOL REG32KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 32K;
CREATE BUFFERPOOL STEMP4KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 4K;
CREATE BUFFERPOOL STEMP8KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 8K;
CREATE BUFFERPOOL STEMP16KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 16K;
CREATE BUFFERPOOL STEMP32KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 32K;
CREATE BUFFERPOOL UTEMP4KBP IMMEDIATE ALL DBPARTITIONNUMS SIZE AUTOMATIC NUMBLOCKPAGES 0 PAGESIZE 4K;
CREATE REGULAR TABLESPACE REG4KTS IN DATABASE PARTITION GROUP IBMDEFAULTGROUP PAGESIZE 4 K MANAGED BY AUTOMATIC STORAGE AUTORESIZE YES EXTENTSIZE 32 BUFFERPOOL REG4KBP NO FILE SYSTEM CACHING;
CREATE REGULAR TABLESPACE REG8KTS IN DATABASE PARTITION GROUP IBMDEFAULTGROUP PAGESIZE 8 K MANAGED BY AUTOMATIC STORAGE AUTORESIZE YES EXTENTSIZE 32 BUFFERPOOL REG8KBP NO FILE SYSTEM CACHING;
CREATE REGULAR TABLESPACE REG16KTS IN DATABASE PARTITION GROUP IBMDEFAULTGROUP PAGESIZE 16 K MANAGED BY AUTOMATIC STORAGE AUTORESIZE YES EXTENTSIZE 32 BUFFERPOOL REG16KBP NO FILE SYSTEM CACHING;
CREATE REGULAR TABLESPACE REG32KTS IN DATABASE PARTITION GROUP IBMDEFAULTGROUP PAGESIZE 32 K MANAGED BY AUTOMATIC STORAGE AUTORESIZE YES EXTENTSIZE 32 BUFFERPOOL REG32KBP NO FILE SYSTEM CACHING;
CREATE SYSTEM TEMPORARY TABLESPACE STEMP4KTS IN DATABASE PARTITION GROUP IBMTEMPGROUP PAGESIZE 4 K MANAGED BY AUTOMATIC STORAGE EXTENTSIZE 32 BUFFERPOOL STEMP4KBP FILE SYSTEM CACHING;
CREATE SYSTEM TEMPORARY TABLESPACE STEMP8KTS IN DATABASE PARTITION GROUP IBMTEMPGROUP PAGESIZE 8 K MANAGED BY AUTOMATIC STORAGE EXTENTSIZE 32 BUFFERPOOL STEMP8KBP FILE SYSTEM CACHING;
CREATE SYSTEM TEMPORARY TABLESPACE STEMP16KTS IN DATABASE PARTITION GROUP IBMTEMPGROUP PAGESIZE 16 K MANAGED BY AUTOMATIC STORAGE EXTENTSIZE 32 BUFFERPOOL STEMP16KBP FILE SYSTEM CACHING;
CREATE SYSTEM TEMPORARY TABLESPACE STEMP32KTS IN DATABASE PARTITION GROUP IBMTEMPGROUP PAGESIZE 32 K MANAGED BY AUTOMATIC STORAGE EXTENTSIZE 32 BUFFERPOOL STEMP32KBP FILE SYSTEM CACHING;
CREATE USER TEMPORARY TABLESPACE UTEMP4KTS IN DATABASE PARTITION GROUP IBMDEFAULTGROUP PAGESIZE 4 K MANAGED BY AUTOMATIC STORAGE EXTENTSIZE 32 BUFFERPOOL UTEMP4KBP FILE SYSTEM CACHING;
CONNECT RESET;
EOF

    if [[ ! -f "/tmp/create_b2bi_db2.sql" ]]; then
        echo "ERROR: Cannot generate create_b2bi_db2.sql"
        exit 1
    fi

    db2 -tvf /tmp/create_b2bi_db2.sql -z /tmp/create_b2bi_db2.sql.log 

    if [ $? -eq 0 ]; then
        echo "ERROR: Failed to run 'db2 -tvf create_b2bi_db2.sql'"
        exit 2
    fi

}

function apply_settings {

    db2 connect to {{ db2_dbname }}

    if [ $? -eq 0 ]; then
        echo "ERROR: Failed to connect to db2"
        exit 1
    fi

    # db2 update db cfg for {{ db2_dbname }} using CATALOGCACHE_SZ 300;
    # db2 update db cfg for {{ db2_dbname }} using UTIL_HEAP_SZ AUTOMATIC;
    # db2 update db cfg for {{ db2_dbname }} using CHNGPGS_THRESH 80;

    db2 connect reset
    db2 terminate
    db2 force applications all
    db2 deactivate db {{ db2_dbname }}
    echo "Run db2stop"
    db2stop
    echo "Run db2start"
    db2start

    if [ $? -eq 0 ]; then
    echo "ERROR: Failed to start to db2"
    exit 2
    fi

}

########################## Main Part of Shell Script ##########################
echo "Start of script setupdb.sh"
echo "Starting db2"
db2start

echo "Creating Sterling B2Bi Database"
create_b2bi_db

echo "Define Config settings to DB2"
config_settings

echo "Applying settings to DB2"
apply_settings

echo "End of script setupdb.sh"
