DEMOBANK:\
  :conn.retry.stwait=00.00.30:\
  :conn.retry.stattempts=6:\
  :conn.retry.ltwait=00.10.00:\
  :conn.retry.ltattempts=6:\
  :sess.total=10:\
  :sess.pnode.max=5:\
  :sess.snode.max=5:\
  :sess.default=1:\
  :comm.info=cddemo.demobank.com;4364:\
  :comm.transport=tcp:\
  :ostype=unix:\
  :pacing.send.count=0:

