license: true
licenseType: "{{ cd_license_type }}"
env:
  timezone: "{{ cd_env_timezone }}"
  extraEnvs: []

extraLabels: {}

replicaCount: 1

image:
  repository: "{{ compatibility_matrix[cd_version].image_repository }}"
  tag: "{{ compatibility_matrix[cd_version].image_tag }}"
  imageSecrets: "{{ cd_deploy_registry_secret }}"
  digest:
    enabled: false
    value: ""
  pullPolicy: IfNotPresent

nameOverride: ""

upgradeCompCheck: {{ cd_upgradecompcheck }}

extraVolumeMounts: []

extraVolume: []

arch: "amd64"

cdArgs:
  nodeName: "{{ cd_nodename }}"
  crtName: "cdcert.pem"
  localCertLabel: "Client-API"
  cport: 1363
  sport: 1364
  configDir: "CDFILES"
  saclConfig: "n"
  # You can create the ConfigMap using the following command:  
  # kubectl create configmap cd-userfiles --from-file=userfile.cfg --from-file=netmap.cfg -n <your-namespace>
  userNetmapConfigmap: ""
  trustedAddr: []
  #Security keys configuration
  keys:
    server: | 
      #
      # Host      Algorithm Method Key
      #
      *           MRLN      SIMP   Cd4Unix/Cd4Unix
    client: | 
      #
      # Host      Algorithm Method Key
      #
      *           MRLN      SIMP   Cd4Unix/Cd4Unix

sum:
  enabled: "y"

storageSecurity:
  fsGroup: 45678
  supplementalGroups: [65534]
  runAsUser: 45678
  runAsGroup: 45678

persistence:
  enabled: true
  useDynamicProvisioning: {{ cd_use_dynamic_provisioning }}

pvClaim:
  existingClaimName: "{{ cd_existing_claimname }}"
  storageClassName: "{{ storage_class_matrix[ cd_storage_class ].rwo }}"  
  accessMode: "ReadWriteOnce"
  selector:
    label: ""
    value: ""
  size: {{ cd_storage_capacity }}

service:
  type: "LoadBalancer"
  apiport:
    name: "api"
    port:
    protocol: "TCP"
  ftport:
    name: "ft"
    port:
    protocol: "TCP"
  externalIP: []
  loadBalancerIP: ""
  loadBalancerSourceRanges: []
  annotations: {}
  externalTrafficPolicy: ""
  sessionAffinity: "ClientIP"

networkPolicyIngress:
  enabled: false
  from: 
    - podSelector:
        matchLabels:
          app.kubernetes.io/name: "connectdirect"

networkPolicyEgress:
  enabled: true
  acceptNetPolChange: true
  to: 
    - ipBlock:
        cidr: 0.0.0.0/0
    # - ports:
    #   - protocol: TCP
    #     port: 443
    #   - protocol: TCP
    #     port: 636
    #   - protocol: TCP
    #     port: 1364

secret:
  secretName: "{{ cd_deploy_secret }}"
  certSecretName: "{{ cd_deploy_cert_secret }}"

serviceAccount:
{% if cd_other_values.serviceAccount.name is defined and cd_other_values.serviceAccount.name != "" %}
  create: false
  name: {{ cd_other_values.serviceAccount.name }}
{% else %}
  create: true
{% endif %}

resources:
  limits:
    cpu: {{ cd_cpu_limits }}
    memory: {{ cd_mem_limits }}
    ephemeral-storage: "{{ cd_ephemeral_storage_limits }}"
  requests:
    cpu: {{ cd_cpu_requests }}
    memory: {{ cd_mem_requests }}
    ephemeral-storage: "{{ cd_ephemeral_storage_requests }}"

dashboard:
  enabled: {{ cd_other_values.dashboard.enabled | default('false') }}

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: {}
    preferredDuringSchedulingIgnoredDuringExecution: []
  podAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution: []
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution: []

# Tolerations allow pods to be scheduled on nodes with matching taints,
tolerations: []
  #- key: "cd-taints"
  #  operator: "Equal"
  #  value: "node"
  #  effect: "NoSchedule"

# Topology spread constraints ensure even pod distribution across nodes or zones
topologySpreadConstraints: []
  #- maxSkew: 1
  #  topologyKey: kubernetes.io/hostname
  #  whenUnsatisfiable: ScheduleAnyway
  #  labelSelector:
  #  matchLabels:
  #    app.kubernetes.io/name: ibm-connect-direct

# startup, liveness and Probeness details for the health of pods
startupProbe:
  initialDelaySeconds: 30
  timeoutSeconds: 5
  periodSeconds: 10

livenessProbe:
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10

readinessProbe:
  initialDelaySeconds: 5
  timeoutSeconds: 5
  periodSeconds: 10

# Set this field to create route in OpenShift cluster
route:
  enabled: false

ldap:
  enabled: {{ cd_other_values.ldap.enabled | default('false') }}
{% if cd_other_values.ldap.enabled is defined and cd_other_values.ldap.enabled == "true" %}
  host: "{{ cd_other_values.ldap.host }}"
  port: {{ cd_other_values.ldap.port }}
  domain: "{{ cd_other_values.ldap.domain  }}"
  tls: {{ cd_other_values.ldap.tls }}
  startTls: {{ cd_other_values.ldap.startTls }}
  caCert: "{{ cd_other_values.ldap.caCert }}"
  tlsReqcert: "{{ cd_other_values.ldap.tlsReqcert | default('never') }}"
  defaultBindDn: "{{ cd_other_values.ldap.defaultBindDn }}"
  defaultAuthtokType: "{{ cd_other_values.ldap.defaultAuthtokType }}"
  defaultAuthtok: "{{ cd_other_values.ldap.defaultAuthtok }}"
  clientValidation: {{ cd_other_values.ldap.clientValidation }}
  clientCert: "{{ cd_other_values.ldap.clientCert | default('false') }}"
  clientKey: "{{ cd_other_values.ldap.clientKey | default('false') }}"
  # Specify true or false to enable or disable overriding the shell to Bash
  override_shell_enabled: false
{% endif %}

# Integrated File Agent Configuration
cdfa:
  # Set its value to "y" to enable file agent service in container
  fileAgentEnable: "n"

{% if cd_6400_or_higher %}
# Horizontal pod autoscaling configuration
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  averageCpuUtilization: 60
  averageMemoryUtilization: 60
  stabilizationWindowSeconds: 180
  periodSeconds: 15

# Pod-Distribution-Budget Configuration
pdb:
  enabled: true
  minAvailable: 1
{% endif %}