license: true
licenseType: "{{ cd_helm_values.licenseType }}"
env:
  timezone: "{{ cd_helm_values.env.timezone | default('UTC') }}"
  extraEnvs: []

extraLabels: {}

replicaCount: 1

image:
  repository: "{{ compatibility_matrix[ cd_version ].image_repository }}"
  tag: "{{ compatibility_matrix[ cd_version ].image_tag }}"
  imageSecrets: "{{ cd_registry_secret }}"
  digest:
    enabled: {{ cd_helm_values.digest.enabled | default('false') }}
    value: "{{ compatibility_matrix[ cd_version ].images_digest_value }}"
  pullPolicy: {{ cd_helm_values.image.pullPolicy | default('IfNotPresent') }}

nameOverride: ""

upgradeCompCheck: {{ cd_helm_values.upgradeCompCheck | default('false') }}

extraVolumeMounts: []

extraVolume: []

arch: "amd64"

cdArgs:
  nodeName: "{{ cd_helm_values.cdArgs.nodeName }}"
  crtName: "{{ cd_helm_values.cdArgs.crtName }}"
  localCertLabel: "Client-API"
  cport: 1363
  sport: 1364
  configDir: "{{ cd_helm_values.cdArgs.configDir | default('CDFILES') }}"
  saclConfig: "n"
  trustedAddr: []

sum:
  enabled: "{{ cd_helm_values.sum.enabled }}"

storageSecurity:
  fsGroup: 45678
  supplementalGroups: [65534]
  runAsUser: 45678
  runAsGroup: 45678

persistence:
  enabled: true
  useDynamicProvisioning: {{ cd_helm_values.persistence.useDynamicProvisioning }}

pvClaim:
  existingClaimName: "{{ cd_helm_values.pvClaim.existingClaimName | default('') }}"
  storageClassName: "{{ storage_class_matrix[ cd_storage_class ].rwo }}"  
  accessMode: "ReadWriteOnce"
  selector:
    label: "{{ cd_helm_values.pvClaim.selector.label | default('') }}"
    value: "{{ cd_helm_values.pvClaim.selector.value | default('') }}"
  size: {{ cd_helm_values.pvClaim.size | default('100Mi') }}

service:
  type: "LoadBalancer"
  apiport:
    name: "api"
    port:
    protocol: "TCP"
  ftport:
    name: "ft"
    port:
    protocol: "TCP"
  externalIP: []
  loadBalancerIP: ""
  loadBalancerSourceRanges: []
  annotations: {}
  externalTrafficPolicy: ""
  sessionAffinity: "ClientIP"

networkPolicyIngress:
  enabled: false
  from: 
    - podSelector:
        matchLabels:
          app.kubernetes.io/name: "connectdirect"

networkPolicyEgress:
  enabled: true
  acceptNetPolChange: true
  to: []

secret:
  secretName: "{{ cd_helm_values.secret.secretName }}"
  certSecretName: "{{ cd_helm_values.secret.certSecretName }}"

serviceAccount:
{% if cd_helm_values.serviceAccount.name is defined and cd_helm_values.serviceAccount.name != "" %}
  create: false
  name: {{ cd_helm_values.serviceAccount.name }}
{% else %}
  create: true
{% endif %}

resources:
  limits:
    cpu: 500m
    memory: 2000Mi
    ephemeral-storage: "5Gi"
  requests:
    cpu: 500m
    memory: 2000Mi
    ephemeral-storage: "3Gi"

dashboard:
  enabled: {{ cd_helm_values.dashboard.enabled | default('false') }}

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: {}
    preferredDuringSchedulingIgnoredDuringExecution: []
  podAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution: []
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution: []

startupProbe:
  initialDelaySeconds: 30
  timeoutSeconds: 5
  periodSeconds: 10

livenessProbe:
  initialDelaySeconds: 5
  timeoutSeconds: 5
  periodSeconds: 10

readinessProbe:
  initialDelaySeconds: 3
  timeoutSeconds: 5
  periodSeconds: 10

route:
  enabled: true

ldap:
  enabled: {{ cd_helm_values.ldap.enabled | default('false') }}
{% if cd_helm_values.ldap.enabled is defined and cd_helm_values.ldap.enabled == "true" %}
  host: "{{ cd_helm_values.ldap.host }}"
  port: {{ cd_helm_values.ldap.port }}
  domain: "{{ cd_helm_values.ldap.domain  }}"
  tls: {{ cd_helm_values.ldap.tls }}
  startTls: {{ cd_helm_values.ldap.startTls }}
  caCert: "{{ cd_helm_values.ldap.caCert }}"
  tlsReqcert: "{{ cd_helm_values.ldap.tlsReqcert | default('never') }}"
  defaultBindDn: "{{ cd_helm_values.ldap.defaultBindDn }}"
  defaultAuthtokType: "{{ cd_helm_values.ldap.defaultAuthtokType }}"
  defaultAuthtok: "{{ cd_helm_values.ldap.defaultAuthtok }}"
  clientValidation: {{ cd_helm_values.ldap.clientValidation }}
  clientCert: "{{ cd_helm_values.ldap.clientCert | default('false') }}"
  clientKey: "{{ cd_helm_values.ldap.clientKey | default('false') }}"
{% endif %}

cdfa:
  fileAgentEnable: "n"
