<cdPolicyDef>
    <copyStepAllowed>true</copyStepAllowed>
    <eaCertValidation>false</eaCertValidation>
    <ipAddressCheck>false</ipAddressCheck>
    <name>{{ policy_name }}</name>
    <protocol>cd</protocol>
    <protocolErrorAction>NONE</protocolErrorAction>
    <protocolValidationOn>true</protocolValidationOn>
    <runJobStepAllowed>true</runJobStepAllowed>
    <runTaskStepAllowed>true</runTaskStepAllowed>
    <status></status>
    <submitStepAllowed>true</submitStepAllowed>
    <userAuthentication>none</userAuthentication>
    <userMapping>noUserID</userMapping>
</cdPolicyDef>