<ftpPolicyDef>
    <description>SFTP Policy</description>
    <eaAuthProfile></eaAuthProfile>
    <eaKeyAuthProfile></eaKeyAuthProfile>
    <keyauthReqdBeforePwdauth>false</keyauthReqdBeforePwdauth>
    <name>{{ policy_name }}</name>
    <preferredAuthentication>password</preferredAuthentication>
    <protocol>sftp</protocol>
    <protocolValidationOn>true</protocolValidationOn>
    <status>locked</status>
    <userAuthentication>none</userAuthentication>
    <userMapping>passthru</userMapping>
</ftpPolicyDef>