---
# Entitlement
# -----------------------------------------------------------------------------
entitled_registry_key: "{{ lookup('env', 'ENTITLED_REGISTRY_KEY') }}"

# C:D WebService action
# ---------------------------------------------------------------------------
cdws_action: "{{ lookup('env', 'CDWS_ACTION') | default('install', true) }}"

# Configure C:D WebService instance
# -----------------------------------------------------------------------------------------------------------------
cdws_namespace: "{{ lookup('env', 'CDWS_NAMESPACE') | default('sterling-cdws-dev01', true) }}"
cdws_version: "{{ lookup('env', 'CDWS_VERSION') | default('6.4.0.5_iFix00-2025-11-27', true) }}"

cdws_license_type: "{{ lookup('env', 'CDWS_LICENSE_TYPE') | default('non-prod', true) }}" # prod or no-prod
cdws_truststore_password: "{{ lookup('env', 'CDWS_TRUSTSTOREPASSWORD') | default('Change1t@', true) }}"
cdws_keystore_password: "{{ lookup('env', 'CDWS_KEYSTOREPASSWORD') | default('Change1t@', true) }}"
cdws_cacert_password: "{{ lookup('env', 'CDWS_CACERT_PASSWORD') | default('Password123!', true) }}"

cdws_skip_helm: "{{ lookup('env', 'CDWS_SKIP_HELM') | default(false, true) }}"

# Storage
# -----------------------------------------------------------------------------
storage_class_rwo: "{{ lookup('env', 'STORAGE_CLASS_RWO') | default('', true) }}"
storage_class_rwx: "{{ lookup('env', 'STORAGE_CLASS_RWX') | default('', true) }}"
cdws_storage_capacity: "{{ lookup('env', 'CDWS_STORAGE_CAPACITY') | default('500Mi', true) }}"

# Request/limit defaults
# -----------------------------------------------------------------------------
cdws_cpu_limits: "{{ lookup('env', 'CDWS_CPU_LIMITS') | default('3000m', true) }}"
cdws_mem_limits: "{{ lookup('env', 'CDWS_MEM_LIMITS') | default('2Gi', true) }}"
cdws_cpu_requests: "{{ lookup('env', 'CDWS_CPU_REQUESTS') | default('1500m', true) }}"
cdws_mem_requests: "{{ lookup('env', 'CDWS_MEM_REQUESTS') | default('1Gi', true) }}"

# Others
# -----------------------------------------------------------------------------
my_workdir: /tmp

cdws_nodename: "{{ lookup('env', 'CDWS_NODENAME') | default('mftwebervices', true) }}"
cdws_timezone: "{{ lookup('env', 'CDWS_TIMEZONE') | default('America/New_York', true) }}"
cdws_registry_secret: ibm-registry-secret
cdws_secret: cdws-secret
cdws_deploy_cert_secret: mycdws-cert-secret
cdws_cert_crt: "{{ my_workdir }}/cdwscert.crt" # CD install script only support extensions .crt, .pem and .cer
cdws_cert_key: "{{ my_workdir }}/cdwskey.pem"
cdws_cert_pem: "{{ my_workdir }}/cdwscert.pem"
cdws_use_dynamic_provisioning: false

# Helm Variables
# -----------------------------------------------------------------------------
cdws_helm_timeout: "{{ lookup('env', 'CDWS_HELM_TIMEOUT') | default('10m0s', true) }}"
cdws_helm_release: "{{ lookup('env', 'CDWS_HELM_RELEASE') | default('s0', true) }}"
cdws_helm_chart: "{{ my_workdir }}/ibm-cdws/"

# https://github.com/IBM/charts/tree/master/repo/ibm-helm
compatibility_matrix:
  6.4.0.5_iFix00-2025-11-27:
    helm_version: "1.1.14"
    image_repository: "cp.icr.io/cp/ibm-cdws/cdws"
    image_tag: "6.4.0.5_iFix00-2025-11-27"
  6.4.0.4_ifix001:
    helm_version: "1.1.13"
    image_repository: "cp.icr.io/cp/ibm-cdws/cdws6.4_certified_container_6.4.0.4"
    image_tag: "6.4.0.4_ifix001"
  6.4.0.3_ifix000:
    helm_version: "1.1.9"
    image_repository: "cp.icr.io/cp/ibm-cdws/cdws6.4_certified_container_6.4.0.3"
    image_tag: "6.4.0.3_ifix000"


# Storage Class Matrix
# in ibmcloud.rwo: In IBM Cloud, the ReadWriteOnce storage class is 'ibmc-block-gold' but Connect:Direct not worked with it.
# -----------------------------------------------------------------------------
storage_class_matrix:
  ibmcloud:
    rwx: "ibmc-file-gold-gid" # ReadWriteMany
    rwx_nogid: "ibmc-file-gold" # ReadWriteMany no GID
    rwo: "ibmc-block-gold" # ReadWriteOnce  # The correct value is ibmc-block-gold but Connect:Direct not worked with C:D
    rom: "" # ReadOnlyMany
    rwop: "" # ReadWriteOncePod
  redhat:
    rwx: "ocs-storagecluster-cephfs"
    rwx_nogid: "ocs-storagecluster-cephfs"
    rwo: "ocs-storagecluster-ceph-rbd"
    rom: ""
    rwop: ""
  aws:
    rwx: "efs"
    rwx_nogid: "efs"
    rwo: "gp2"
    rom: ""
    rwop: ""
  azure:
    rwx: "azurefile-premium"
    rwx_nogid: "azurefile-premium"
    rwo: "azurefile-premium"
    rom: ""
    rwop: ""
  azure-csi:
    rwx: "azurefile-csi"
    rwx_nogid: "azurefile-csi"
    rwo: "managed-csi"
    rom: ""
    rwop: ""
  techzone:
    rwx: "managed-nfs-storage"
    rwx_nogid: "managed-nfs-storage"
    rwo: "managed-nfs-storage"
    rom: "managed-nfs-storage"
    rwop: "managed-nfs-storage"
  ibm-spectrum:
    rwx: "scale-cnsa"
    rwx_nogid: "scale-cnsa"
    rwo: "scale-cnsa"
    rom: "scale-cnsa"
    rwop: "scale-cnsa"
  ibm-fyre1:
    rwx: "rook-cephfs"
    rwx_nogid: "rook-cephfs"
    rwo: "rook-cephfs" # rook-ceph-block
    rom: ""
    rwop: ""
  ibm-fyre2:
    rwx: "ocs-external-storagecluster-cephfs"
    rwx_nogid: "ocs-external-storagecluster-cephfs"
    rwo: "ocs-external-storagecluster-ceph-rbd"
    rom: "ocs-external-storagecluster-cephfs"
    rwop: ""
  hpe-storage:
    rwx: "hpe-nfs"
    rwx_nogid: "hpe-nfs"
    rwo: "hpe-standard"
    rom: "hpe-nfs"
    rwop: ""