# ansible-playbook playbook.yml -e "scc_deploy_db2_enabled=false" -e "scc_setup_db2_enabled=false" -e "scc_deploy_enabled=false"
- name: Deploy IBM Sterling Control Center Monitor and Director on RedHat OpenShift
  hosts: localhost
  connection: local
  gather_facts: false
  any_errors_fatal: true
  # vars:
    # db_vendor: DB2
    # db_user: db2inst1
    # db_password: password
    # db_host: localhost
    # db_port: '50000'
    # db_database: B2BI
  roles:
    - role: scc_deploy_db2  # don't change this order
      when: scc_deploy_db2_enabled | default(true) | bool
    
    - role: scc_setup_db2
      when: scc_setup_db2_enabled | default(true) | bool

    - role: scc_deploy
      when: scc_deploy_enabled | default(true) | bool

