- name: Deploy IBM Sterling Partner Engagement Manager on RedHat OpenShift
  hosts: localhost
  connection: local
  gather_facts: false
  any_errors_fatal: true
  roles:
    - role: pem_std_deploy_db2
      when: pem_std_deploy_db2_enabled | default(true) | bool

    - role: pem_std_setup_db2
      when: pem_std_setup_db2_enabled | default(true) | bool

    - role: pem_std_deploy_mq
      when: pem_std_deploy_mq_enabled | default(true) | bool

    - role: pem_std_deploy
      when: pem_std_deploy_enabled | default(true) | bool
