- name: Deploy IBM Sterling B2B Integrator on RedHat OpenShift
  hosts: localhost
  connection: local
  gather_facts: false
  any_errors_fatal: true
  roles:
    - role: sb2bi_deploy_db2  # don't change this order
      when: sb2bi_deploy_db2_enabled | default(true) | bool
    
    - role: sb2bi_setup_db2
      when: sb2bi_setup_db2_enabled | default(true) | bool

    - role: sb2bi_deploy_mq
      when: sb2bi_deploy_mq_enabled | default(true) | bool

    - role: sb2bi_deploy
      when: sb2bi_deploy_enabled | default(true) | bool
